body { 
    margin: 0; 
    padding: 0; 
    font-family: sans-serif; 
    background-color: #edf3f4;
}

ul {
    overflow: hidden; 
    background-color: #1e352f; 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    position: fixed; 
    width: 100%;  
}

li { 
    float: left;
}

li a { 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none; 
}

li a:hover {
    background-color: black;
}

.active {
    background-color: #499F68;
}

.sidebar {
    margin: 0; 
    padding: 0;  
    height: 94.28%; 
    width: 220px;
    position: fixed;
    z-index: 1; 
    top: 20 ; 
    right: 0;
    bottom: 0;  
    overflow-x: hidden; 
    background-color: #335145; 
}

.sidebar a { 
    padding: 30px 8px 8px 30px; 
    text-decoration: none; 
    font-size: 25px; 
    color: darkgrey; 
    display: block; 
}

.sidebar a:hover {
   color: black;  
}


@media screen and (max-height: 450px){
    .sidebar {padding-top:220px;}
    .sidebar a {font-size: 18px;}
}
    
.main {
    margin-left: 20px;
    margin-right: 240px; 
    font-size: 20px;
    text-align: justify;
    padding: auto; 
}

.picture {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 10%;  
}

.home {
    margin-right: 20px; 
    margin-left: 20px; 
    font-size: 25px; 
    text-align: justify; 
    padding: auto; 
}

.colorheader {
    text-align: center; 
    color: #335145; 
}

.colorsubheader {
    text-align: left; 
    color: #335145; 
}

.row {
    display: flex; 
}


.colomn {
    flex: 33.3%; 
}

img { 
    width: 100%; 
    height: 100%; 
}

